@{
    ViewData["Title"] = "AD Manager";
}

<div class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a href="https://localhost:7034" title="ManageEngine ADManager Plus"></a>
            </div>
        </div>
    </div>
</div>