<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/site.js"></script>
    <title>@ViewData["Title"] - Login</title>
    <link rel="icon" type="image/x-icon" href="https://demo.admanagerplus.com/images/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login_page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AD_Manager.styles.css" asp-append-version="true" />
    <script>
        function navigateToRole(role) {
            if (role === 'admin') {
                window.location.href = '@Url.Action("Admin", "User")';
            } else if (role === 'technician') {
                window.location.href = '@Url.Action("Technician", "User")';
            }
        }
    </script>
</head>
<body>
    @RenderBody()
    <!--content-->    
    <div class="banner">
        <div class="container">
            <div class="banner_inner">
                <div class="span_1">
                    <div class="banner_txt">
                        <p>端到端Active Directory解決方案</p>
                        <h1>ADManager 線上演示</h1>
                    </div>
                    <div class="banner_list">
                        <div class="half_50">
                            <ul class="list-1">
                                <li><i class="icn icn-bullet"></i><span>標語1</span></li>
                                <li><i class="icn icn-bullet"></i><span>標語2</span></li>
                            </ul>
                        </div>
                        <div class="half_50">
                            <ul class="list-2">
                                <li><i class="icn icn-bullet"></i><span>標語3</span></li>
                                <li><i class="icn icn-bullet"></i><span>標語4</span></li>
                            </ul>
                        </div>                        
                    </div>
                </div>
                <div class="span_2">
                    <div class="banner_actions">
                        <p>以下述身份登錄</p>
                        <a href="#" onclick="navigateToRole('admin')" class="btn btn-primary"><i class="icn icn-user-admin"></i> Administrator<span>*</span></a>
                        <a href="#" onclick="navigateToRole('technician')" class="btn btn-default"><i class="icn icn-user-technician"></i> 技術員<span>**</span></a>
                        <!--<a href="#" onclick="javascript:loginUser('admin')" class="btn btn-primary"><i class="icn icn-user-admin"></i> Administrator<span>*</span></a>
                        <a href="#" onclick="javascript:loginUser('technician')" class="btn btn-default"><i class="icn icn-user-technician"></i> 技術員<span>**</span></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="content_inner">
                <div class="cells">
                    <span class="icon">
                        <i class="icn icn-inactive-user"></i>
                    </span>
                    <span class="txt">
                        <p>確認鎖定和非活動用戶</p>
                    </span>
                </div>
                <div class="cells">
                    <span class="icon">
                        <i class="icn icn-password-reset"></i>
                    </span>
                    <span class="txt">
                        <p>執行<br>密碼重置</p>
                    </span>
                </div>
                <div class="cells">
                    <span class="icon">
                        <i class="icn icn-o365"></i>
                    </span>
                    <span class="txt">
                        <p>管理帳戶</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="lhs">
                ADManager，Active Directory管理軟體© Copyright 2024。
            </div>            
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
