.admp-body-pane {
	position: relative;		
	padding: 0 15px;
	height: auto;
}

.admp-body-pane.full-width {
    margin-left: 0;
}

.admp-layout-pane, .admp-layout-pane * {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.pull-left {
	float: left !important;
}

.admp-layout-pane .bdr-box-container.layout {
	margin-top: 15px !important;
	margin-bottom: 13px !important;
	width: 100%;
}

.bdr-box-container {
	width: 100%;
}

.create-user-navbar {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid #808080;
}

.create-user-nav-item {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}

.create-user-nav-item.active {    
    border-color: black;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}

.create-user-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.create-user-content.active {
    display: block;
}

.btn {
    width: 50px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0 solid transparent;
    white-space: nowrap;
    line-height: 18px;
    padding: 2px 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    color: #fff;
    background-color: #80ba50;
}

.form-label {
    margin-left: 50px;
}

.form-control {
    width: 300px;
    margin-left: 50px;
}

.radio {
    margin-left: 50px;
}

.ml-50 {
    margin-left: 50px;
}